<!DOCTYPE html>
<html lang="en">
<head>
    <img src="../../../assets/nhlstenden.png">
    <app-sidebar></app-sidebar>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
</head>
<body>
<div class="Box">
    <div class="imageLogin"><img src=""></div>

    <div  class="signInDiv">
        <h1 class="signInHeader">Sign In</h1>
    </div>

    <div class="formLogin">
        <input type="email" name="email">
        <p></p>
        <input type="password" name="psk">
        <p></p>
        <a href="@" class="forgotPassword">Forgot Password</a>
        <p></p>
        <button class="buttonSignin">Sign In</button>
    </div>
</div>
    
</body>
</html>