<!-- registration.component.html -->
<form [formGroup]="registrationForm">
    <label for="email">Email:</label>
    <input type="email" id="email" formControlName="email" required>
  
    <div>
      <input type="checkbox" id="agreeTerms" formControlName="agreeTerms">
      <label for="agreeTerms">I agree with the use and storage of my academic email address for the purpose of tracking of material borrowed.</label>
    </div>
  
    <button type="button" (click)="register()" [disabled]="!registrationForm.valid">Register</button>
  </form>
  