.sidebarContainer {
  background-color: white;
  width: 12.5%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  
}

.toggleButton{
  margin-top: 0.5%;
  margin-right: auto;
  margin-top: auto;
}
