<mat-sidenav-container class="sidebarContainer">
  <mat-sidenav #sidenav mode="side" opened>
    <mat-nav-list>
      <a mat-list-item routerLink="."><img src="../../../assets/barcodeImg.png"> Scan Barcode</a>
      <a mat-list-item routerLink="/items/show-items"><img src="../../../assets/productImg.png"> Lend Materials</a>
      <a mat-list-item routerLink="."><img src="../../../assets/returnImg.png"> Return Items</a>
      <a mat-list-item routerLink="."><img src="../../../assets/categoryImg.png"> Categories</a>
      <a mat-list-item routerLink="."><img src="../../../assets/borrowersImg.png"> Borrowers</a>
      <a mat-list-item routerLink="."><img src="../../../assets/userImg.png"> User</a>
      <a mat-list-item routerLink="."><img src="../../../assets/reservationImg.png"> Reservations</a>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>
