.container {
     display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    /* padding: 20px; */
}

mat-table {
    width: 100%;
}

.mat-column-select {
    overflow: initial;
  }

  /* Add this to your component's styles or styles.scss file */
.sticky-search-input {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
  }
  
