<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Search...</mat-label>
    <input
      type="text"
      placeholder="Search..."
      aria-label="Number"
      matInput
      [formControl]="myControl"
      [matAutocomplete]="auto" 
      (keyup)="applyFilter($event)" />
    <mat-autocomplete #auto="matAutocomplete">
        @for (option of filteredOptions | async; track option) {
            <mat-option [value]="option">{{option}}</mat-option>
          }
    </mat-autocomplete>
  </mat-form-field>
</form>

<div class="container">
  <mat-table #table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox
          (change)="$event ? toggleAllRows() : null"
          [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox
          (click)="$event.stopPropagation()"
          (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </td>
    </ng-container>
    <ng-container matColumnDef="itemID">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Item ID</th>
      <td mat-cell *matCellDef="let item">{{ item.itemID }}</td>
    </ng-container>
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let item">{{ item.name }}</td>
      </ng-container>
    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Category</th>
      <td mat-cell *matCellDef="let item">{{ item.category }}</td>
    </ng-container>
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
      <td mat-cell *matCellDef="let item">{{ item.status }}</td>
    </ng-container>
    <ng-container matColumnDef="dateReserved">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date Reserved</th>
      <td mat-cell *matCellDef="let item">{{ item.dateReserved }}</td>
    </ng-container>
    <ng-container matColumnDef="borrower">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Borrower</th>
      <td mat-cell *matCellDef="let item">{{ item.borrower }}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
  </mat-table>
  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    aria-label="Select page of periodic elements">
  </mat-paginator>
</div>
