<!-- 
  
  Please consult Angular Material Components Documentation: 
  
  https://material.angular.io/components/categories 

  Before asking me for help. 
  
  Of course, do not hesitate to ask me for help.

  -David

-->

<!--  Filtering Options -->
<form class="">
  <!-- Search Filter -->
  <mat-form-field class="">
    <mat-label>Search...</mat-label>
    <input
      type="text"
      placeholder="Search..."
      aria-label="Number"
      matInput
      [formControl]="searchControl"
      [matAutocomplete]="auto"
      (keyup)="applySearchFilter($event)"
    />

    <!-- Auto-complete from all items names -->
    <mat-autocomplete #auto="matAutocomplete">
      @for (searchOption of searchFilteredOptions | async; track searchOption) {
        <mat-option [value]="searchOption">{{ searchOption }}</mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>

  <!-- Columns Filter -->
  <mat-form-field appearance="fill" *ngFor="let columnsfilter of columnsFilter">
    <mat-label>{{ columnsfilter.name }}</mat-label>
    <mat-select
      [(value)]="columnsfilter.defaultValue"
      (selectionChange)="applyColumnsFilter($event, columnsfilter)"
      (closed)="resetSelectSearch(columnsfilter)"
    >
      <mat-form-field class="sticky-search-input">
        <input
          matInput
          [formControl]="selectControl"
          placeholder="Search..."
          (keyup.space)="$event.preventDefault()"
          (keyup)="selectSearchOnKey($event.target, columnsfilter)"
        />
      </mat-form-field>
      <mat-option *ngFor="let op of columnsfilter.selectedOptions" [value]="op">
        {{ op }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</form>
<form>
  <button
    mat-raised-button
    (click)="resetFilters()"
    style="
      background-color: var(--mdc-protected-button-disabled-container-color);
    "
  >
    Reset Filters
  </button>
  &nbsp;
  <button
    mat-raised-button
    style="background-color: #8bc34a"
    (click)="resetFilters()"
  >
    Add Item
  </button>
</form>
<br />
<mat-divider></mat-divider>
<br />

<!--  Table -->
<div class="container">
  <mat-table #table [dataSource]="dataSource" matSort>
    <!-- Select Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox
          (change)="$event ? toggleAllRows() : null"
          [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()"
        >
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox
          (click)="$event.stopPropagation()"
          (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)"
        >
        </mat-checkbox>
      </td>
    </ng-container>
    <!-- Define the columns -->
    <ng-container matColumnDef="ItemID">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Item ID</th>
      <td mat-cell *matCellDef="let item">{{ item.ItemID }}</td>
    </ng-container>
    <ng-container matColumnDef="Name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let item">{{ item.Name }}</td>
    </ng-container>
    <ng-container matColumnDef="CategoryName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Category</th>
      <td mat-cell *matCellDef="let item">{{ item.CategoryName }}</td>
    </ng-container>
    <ng-container matColumnDef="Status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
      <td mat-cell *matCellDef="let item">{{ item.Status }}</td>
    </ng-container>
    <ng-container matColumnDef="DateReserved">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date Reserved</th>
      <td mat-cell *matCellDef="let item">{{ item.DateReserved || "/" }}</td>
    </ng-container>
    <ng-container matColumnDef="Borrower">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Borrower</th>
      <td mat-cell *matCellDef="let item">{{ item.Borrower || "/" }}</td>
    </ng-container>

    <!-- You need to define what columns to display!! Including Select for the checkboxes -->
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
  </mat-table>
  <!-- Split the table to show max 5, 10, 20 rows per page -->
  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    aria-label="Select page of periodic elements"
  >
  </mat-paginator>
</div>
